@import './variables.scss';

/* color text */

.text-primary {
    color: $clr-primary;
}

.text-secondary {
    color: $clr-secondary;
}

.text-secondary-transparent {
    color: $clr-secondary-transparent;
}

.text-accent {
    color: $clr-accent;
}

/* background color */

.bg-primary {
    background-color: $clr-primary;
}

.bg-secondary {
    background-color: $clr-secondary;
}

.bg-accent {
    background-color: $clr-accent;
}

/* font family */

.ff-primary {
    font-family: $ff-primary;
}

.ff-secondary {
    font-family: $ff-secondary;
}

.ff-accent {
    font-family: $ff-accent;
}

/* font-size */

.fs-main-nav {
    font-size: $fs-main-nav;
    letter-spacing: $ls-main-nav;
    text-transform: uppercase;
}

.fs-secondary-nav {
    font-size: $fs-secondary-nav;
    letter-spacing: $ls-secondary-nav;
    text-transform: uppercase;
}

.fs-body {
    font-size: $fs-body;
    line-height: 1.5625;
}

.fs-heading-1 {
    font-size: $fs-heading-1;
    text-transform: uppercase;
}

.fs-heading-2 {
    font-size: $fs-heading-2;
    text-transform: uppercase;
}

.fs-heading-3 {
    font-size: $fs-heading-3;
    text-transform: uppercase;
}

.fs-heading-4 {
    font-size: $fs-heading-4;
    text-transform: uppercase;
}

.fs-heading-5 {
    font-size: $fs-heading-5;
    letter-spacing: $ls-heading-5;
    text-transform: uppercase;
}

.fs-heading-6 {
    font-size: $fs-heading-6;
    letter-spacing: $ls-heading-6;
    text-transform: uppercase;
}

.fs-subheading-1 {
    font-size: $fs-subheading-1;
    text-transform: uppercase;
}

.fs-subheading-2 {
    font-size: $fs-heading-2;
    letter-spacing: $ls-subheading-2;
    text-transform: uppercase;
}

/* font weight */

.fw-chapter {
    font-weight: $fw-bold;
}

/* buttons */

.button-s {
    display: grid;
    align-items: center;
    width: 2.5rem;
    height: 2.5rem;
    background-color: $clr-secondary;
    color: $clr-accent;
    font-size: $fs-button-s;
    font-family: $ff-secondary;
    letter-spacing: $ls-button-s;
    border-radius: 50%;
    cursor: pointer;
    border: none;
}

.button-s.inversed {
    background-color: $clr-accent;
    color: $clr-secondary;
    border: 1px solid $clr-secondary-transparent;
}

.button-xl {
    display: grid;
    align-items: center;
    width: 9.375rem;
    height: 9.375rem;
    background-color: $clr-secondary;
    color: $clr-accent;
    font-size: $fs-button-xl;
    font-family: $ff-secondary;
    letter-spacing: $ls-button-xl;
    border-radius: 50%;
    cursor: pointer;
    border: none;
}

/* other */

.nav-glass {
    background-color: $clr-secondary-transparent-nav;
    backdrop-filter: blur(41px);
    -webkit-backdrop-filter: blur(41px);
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap; /* added line */
    border: 0;
}

.text-align {
    text-align: center;
}

@media (min-width: 48em) {
    .fs-main-nav {
        font-size: $fs-main-nav;
        letter-spacing: $ls-main-nav;
        text-transform: uppercase;
    }
    
    .fs-secondary-nav {
        font-size: $fs-secondary-nav;
        letter-spacing: $ls-secondary-nav;
        text-transform: uppercase;
    }
    
    .fs-body {
        font-size: $fs-body;
        line-height: 1.5625;
    }
    
    .fs-heading-1 {
        font-size: $fs-heading-1;
        text-transform: uppercase;
    }
    
    .fs-heading-2 {
        font-size: $fs-heading-2;
        text-transform: uppercase;
    }
    
    .fs-heading-3 {
        font-size: $fs-heading-3;
        text-transform: uppercase;
    }
    
    .fs-heading-4 {
        font-size: $fs-heading-4;
        text-transform: uppercase;
    }
    
    .fs-heading-5 {
        font-size: $fs-heading-5;
        letter-spacing: $ls-heading-5;
        text-transform: uppercase;
    }
    
    .fs-heading-6 {
        font-size: $fs-heading-6;
        letter-spacing: $ls-heading-6;
        text-transform: uppercase;
    }
    
    .fs-subheading-1 {
        font-size: $fs-subheading-1;
        text-transform: uppercase;
    }
    
    .fs-subheading-2 {
        font-size: $fs-heading-2;
        letter-spacing: $ls-subheading-2;
        text-transform: uppercase;
    }
}

@media (min-width: 90em) {
    .fs-main-nav {
        font-size: $fs-main-nav;
        letter-spacing: $ls-main-nav;
        text-transform: uppercase;
    }
    
    .fs-secondary-nav {
        font-size: $fs-secondary-nav;
        letter-spacing: $ls-secondary-nav;
        text-transform: uppercase;
    }
    
    .fs-body {
        font-size: $fs-body;
        line-height: 1.5625;
    }
    
    .fs-heading-1 {
        font-size: $fs-heading-1;
        text-transform: uppercase;
    }
    
    .fs-heading-2 {
        font-size: $fs-heading-2;
        text-transform: uppercase;
    }
    
    .fs-heading-3 {
        font-size: $fs-heading-3;
        text-transform: uppercase;
    }
    
    .fs-heading-4 {
        font-size: $fs-heading-4;
        text-transform: uppercase;
    }
    
    .fs-heading-5 {
        font-size: $fs-heading-5;
        letter-spacing: $ls-heading-5;
        text-transform: uppercase;
    }
    
    .fs-heading-6 {
        font-size: $fs-heading-6;
        letter-spacing: $ls-heading-6;
        text-transform: uppercase;
    }
    
    .fs-subheading-1 {
        font-size: $fs-subheading-1;
        text-transform: uppercase;
    }
    
    .fs-subheading-2 {
        font-size: $fs-heading-2;
        letter-spacing: $ls-subheading-2;
        text-transform: uppercase;
    }
}

@media (min-width: 90em) {
    .text-align {
        text-align: left;
    }
}
