$clr-primary: hsl(231, 77%, 90%);
$clr-secondary: hsl(0, 0%, 100%);
$clr-secondary-transparent: hsl(0, 0%, 100%, 0.25);
$clr-secondary-transparent-nav: hsl(0, 0%, 100%, 0.04);
$clr-accent: hsl(230, 35%, 7%);

$fs-1: 9.375rem;
$fs-2: 6.25rem;
$fs-3: 5rem;
$fs-4: 3.5rem;
$fs-5: 2.5rem;
$fs-6: 2rem;
$fs-7: 1.75rem;
$fs-8: 1.5rem;
$fs-9: 1.25rem;
$fs-10: 1.125rem;
$fs-11: 1rem;
$fs-12: 0.9375rem;
$fs-13: 0.875rem;

$fs-main-nav: $fs-11;
$fs-secondary-nav: $fs-13;
$fs-body: $fs-12;
$fs-button-s: $fs-11;
$fs-button-xl: $fs-9;

$fs-heading-1: $fs-3; //SPACE
$fs-heading-2: $fs-4; //MOON
$fs-heading-3: $fs-8; //NAME CREW & LAUNCH VEHICLE
$fs-heading-4: $fs-11; //SUBTITLE CREW
$fs-heading-5: $fs-11; //CHAPTER PAGE & SUBTITLE HOME
$fs-heading-6: $fs-13; //TERMINOLOGY TEXT

$fs-subheading-1: $fs-7; //TABLE DATA
$fs-subheading-2: $fs-13; //TABLE TITLE

$ls-1:0.295rem;
$ls-2:0.16875rem;
$ls-3:0.1475rem;
$ls-4:0.125rem;
$ls-5:0.09375rem;
$ls-6:0.078125rem;
$ls-7:0.0625rem;

$ls-main-nav: $ls-2;
$ls-secondary-nav: $ls-3;
$ls-button-s: $ls-7;
$ls-button-xl: $ls-6;

$ls-heading-5: $ls-2;
$ls-heading-6: $ls-3;

$ls-subheading-2: $ls-3;

@media (min-width: 48em) {
    $fs-main-nav: $fs-13;
    $fs-secondary-nav: $fs-11;
    $fs-body: $fs-10;
    $fs-button-s: $fs-6;
    $fs-button-xl: $fs-6;
    
    $fs-heading-1: $fs-1;
    $fs-heading-2: $fs-2;
    $fs-heading-3: $fs-4;
    $fs-heading-4: $fs-6;
    $fs-heading-5: $fs-7;
    $fs-heading-6: $fs-11;
    
    $fs-subheading-1: $fs-7;
    $fs-subheading-2: $fs-13;
    
    $ls-main-nav: $ls-3;
    $ls-secondary-nav: $ls-2;
    $ls-button-s: $ls-5;
    $ls-button-xl: $ls-4;
    $ls-heading-6: $ls-2;
}

@media (min-width: 90em) {
    $fs-main-nav: $fs-11;
    $fs-secondary-nav: $fs-11;
    $fs-body: $fs-12;
    $fs-button-s: $fs-11;
    $fs-button-xl: $fs-9;

    $fs-heading-1: $fs-3;
    $fs-heading-2: $fs-4;
    $fs-heading-3: $fs-8;
    $fs-heading-4: $fs-11;
    $fs-heading-5: $fs-11;
    $fs-heading-6: $fs-13;

    $fs-subheading-1: $fs-7;
    $fs-subheading-2: $fs-13;

    $ls-button-s: $ls-4;
    $ls-heading-5: $ls-1;
}

$ff-primary: 'Barlow', sans-serif;
$ff-secondary: 'Bellefair', serif;
$ff-accent: 'Barlow Condensed', sans-serif;

$ff-nav: $ff-accent;
$ff-body: $ff-primary;
$ff-button: $ff-secondary;

$ff-heading-1-to-3: $ff-secondary;
$ff-heading-4-to-6: $ff-accent;

$ff-subheading-1: $ff-secondary;
$ff-subheading-2: $ff-accent;

$fw-bold: 700;
