section {
    background-image: url(../../../assets/destination/background-destination-mobile.jpg);
}

img {
    width: 10.625rem;
    margin: 2rem auto 1.625rem auto;
}

nav {
    margin-bottom: 0.85rem;
}

nav li {
    display: inline-block;
    margin-right: 1.625rem;
    cursor: pointer;
}

nav li:hover {
    border-bottom: 2px solid rgba(255, 255, 255, 0.5);
    padding-bottom: 0.4rem;
}

nav li.active {
    color: white;
    border-bottom: 2px solid white;
    padding-bottom: 0.4rem;
}

nav li:last-child {
    margin-right: 0;
}

hr {
   margin-top: 2rem;
   margin-bottom: 2rem;
}

table {
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 3.625rem;
}

table tr:nth-child(2) td {
    padding-bottom: 2rem;
}

@media (min-width: 48em) {
    section {
        background-image: url(../../../assets/destination/background-destination-tablet.jpg);
    }

    img {
        width: 18.75rem;
        margin-top: 0;
    }

    hr {
        margin-top: 3.0625rem;
        margin-bottom: 1.75rem;
    }

    table {
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-items: center;
        margin-bottom: 3.875rem;
    }

    tr:nth-child(odd),
    tr:nth-child(odd) {
      grid-row: 1;
    }
    
    tr:nth-child(even),
    tr:nth-child(even) {
      grid-row: 2;
    }

    table tr:nth-child(2) td {
        padding-bottom: 0;
    }
}

@media (min-width: 90em) {
    section {
        background-image: url(../../../assets/destination/background-destination-desktop.jpg);
    }

    article img {
        width: 27.8125rem;
        height: 27.8125rem;
        margin-top: 2rem;
    }

    .desktop-right,
    hr {
        width: 27.8125rem;
    }

}