<div class="nav-container" *ngIf="isMediaMobile">
    <button class="mobile-nav-toggle" aria-controls="main-nav" aria-expanded="false" (click)="toggleNav()">
        <img class="menu-icon icon-hamburger" src="./../../../assets/shared/icon-hamburger.svg" alt="" aria-hidden="true" *ngIf="navToggle == false">
        <img class="menu-icon icon-close" src="./../../../assets/shared/icon-close.svg" alt="" aria-hidden="false" *ngIf="navToggle">
    </button>
    <span class="visually-hidden">Menu</span>
    <div class="nav-wrapper | nav-glass" [ngClass]="{'opened' : navToggle}" [@navAnimation]="navToggle ? 'open' : 'closed'">
        <nav class="text-secondary ff-nav fs-main-nav">
            <ul role="list">
                <li (click)="toggleNav()"><a [routerLink]="['/home']" routerLinkActive="active"><span class="fw-chapter">00</span>HOME</a></li>
                <li (click)="toggleNav()"><a [routerLink]="['/destination']" routerLinkActive="active"><span class="fw-chapter">01</span>DESTINATION</a></li>
                <li (click)="toggleNav()"><a [routerLink]="['/crew']" routerLinkActive="active"><span class="fw-chapter">02</span>CREW</a></li>
                <li (click)="toggleNav()"><a [routerLink]="['/technology']" routerLinkActive="active"><span class="fw-chapter">03</span>TECHNOLOGY</a></li>
            </ul>
        </nav>
    </div>
</div>

<nav *ngIf="isMediaMobile == false" class="nav-glass text-secondary ff-nav fs-main-nav">
    <ul role="list">
        <li (click)="toggleNav()"><a [routerLink]="['/home']" routerLinkActive="active"><span *ngIf="isMediaDesktop" class="fw-chapter">00</span>HOME</a></li>
        <li (click)="toggleNav()"><a [routerLink]="['/destination']" routerLinkActive="active"><span *ngIf="isMediaDesktop" class="fw-chapter">01</span>DESTINATION</a></li>
        <li (click)="toggleNav()"><a [routerLink]="['/crew']" routerLinkActive="active"><span *ngIf="isMediaDesktop" class="fw-chapter">02</span>CREW</a></li>
        <li (click)="toggleNav()"><a [routerLink]="['/technology']" routerLinkActive="active"><span *ngIf="isMediaDesktop" class="fw-chapter">03</span>TECHNOLOGY</a></li>
    </ul>
</nav>
