.nav-container {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 10;
}

.nav-wrapper {
    // padding: 7.375rem 5.75rem 100vh 2rem;
    display: none;
}

.opened {
    display: block;
}

nav li {
    position: relative;
    margin-bottom: 2rem;
    cursor: pointer;
}

nav span {
    margin-right: 0.6875rem;
}

.mobile-nav-toggle {
    width: 40px;
    height: 40px;
    position: absolute;
    top: 2rem;
    right: 1.5rem;
    background: transparent;
    border: 0;
    z-index: 5;
}

@media (min-width: 48em) {
    nav {
        position: absolute;
        top: 0;
        right: 0;
        // padding: 2.4375rem 2.875rem 2.4375rem 3rem;
        padding-left: 3rem;
        padding-right: 2.875rem;
    }

    nav li {
        display: inline-block;
        position: relative;
        margin-right: 2.3125rem;
        margin-bottom: 0;
        padding: 2.40rem 0;
    }
    
    nav a.active::after,
    nav a:hover::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 3px;
        background-color: white;
    }

    nav a:hover::after {
        opacity: 0.5;
    }

    nav li:last-child {
        margin-right: 0;
    }
}

@media (min-width: 90em) {
    nav {
        top: 2.5rem;
        padding-left: 7.6875rem;
        padding-right: 10.3125rem;
    }

    nav li {
        margin-right: 3rem;
    }
}
