.logo {
    position: absolute;
    top: 1.5rem;
    left: 1.5rem;
    width: 40px;
    height: 40px;
}

.line {
    width: 503px;
    height: 1px;
    position: absolute;
    top: 5.5rem;
    left: 10.4375rem;
    z-index: 10;
}

@media (min-width: 48em) {
    .logo {
        left: 2.4375rem;
        width: 48px;
        height: 48px;
    }
}

@media (min-width: 90em) {
    .logo {
        top: 4rem;
        left: 3.4375rem;
    }
}