<section>
    <article class="text-align">
        <h4 class="ff-heading-4-to-6 fs-heading-5 text-primary">So, you want to travel to</h4>
        <h1 class="ff-heading-1-to-3 fs-heading-1 text-secondary">space</h1>
        <p class="ff-body fs-body text-primary bg-test">Let’s face it; if you want to go to space, you might as well genuinely go to outer space and not hover kind of on the edge of it. Well sit back, and relax because we’ll give you a truly out of this world experience!</p>
    </article>
    <button class="button-xl">EXPLORE</button>
</section>