@import './app/styles/reset.scss';
@import './app/styles/main-style.scss';

body {
   overflow: hidden;
}

section {
   min-height: 100vh;
}

a:-webkit-any-link {
   color: $clr-secondary;
   cursor: pointer;
   text-decoration: none;
}

hr {
   height: 1px;
   border: 0;
   background-color: #383b4b;
}